<div id="title">
<h1>Wifey Clicker {{display}} <br>Happy Wife Happy Life </h1>
<p id="score">Happiness Level: {{total | number: '1.2-2'}}</p>
</div>
<div id="left">
<button (click)="drink_coffee()">Drink Coffee (Happiness + {{(coffee_inc * pMult) | number: '1.2-2' }})</button>
<br>
<button (click)="button_nap()"[disabled]="isNapDisabled" >
    {{napString}}</button>
<br>
<button (click)="button_bed()" [disabled]="isBedDisabled">
    {{bedString}}</button>
<br>
<button (click)="button_shopping()" [disabled]="isShopDisabled">
    {{shopString}}</button>
<br> 
<button (click)="button_say_yes_day()" [disabled]="isYesDisabled">{{yesString}}</button>
<br>
<button (click)="button_wedding_day()" [disabled]="isWeddingDisabled">{{weddingString}}</button>
<br>
<button (click)="reset()">Reset for 2x Mulitpler (Cost: {{reset_cost | number: '1.2-2'}})</button>
</div>

<div id="right">
<button (click)="coffee_up()">
    New Starbucks Cups (Coffee X {{coffee_up_mult | number: '1.2-2'}} | Cost: {{coffee_up_cost | number: '1.2-2'}})</button>
<br>
<button (click)="nap_up()">
    Morning and Afternoon Nap (Nap Mulitpler X {{nap_up_mult| number: '1.2-2'}} | Cost: {{nap_up_cost | number: '1.2-2'}})</button>
<br>
<button (click)="bed_up()">
    Breakfast in bed (Bed Day Mulitpler X {{bed_up_mult| number: '1.2-2'}} | Cost: {{bed_up_cost | number: '1.2-2'}})</button>
<br>
<button (click)="shopping_up()">
    Target Circle Week (Shopping Mulitpler X {{shop_up_mult| number: '1.2-2'}} | Cost: {{shop_up_cost | number: '1.2-2'}})</button>
 <br>
 <button (click)="say_yes_day_up()">
    Target Circle Week (Say Yes Day Mulitpler X {{yes_up_mult| number: '1.2-2'}} | Cost: {{yes_up_cost | number: '1.2-2'}})</button>
 <br>
 <button (click)="wedding_day_up()">
    Target Circle Week (Wedding Day Mulitpler X {{wedding_up_mult| number: '1.2-2'}} | Cost: {{wedding_up_cost | number: '1.2-2'}})</button>
 <br>
 <button (click)="hearts()">
    SUPER SECRET BUTTON</button>
 <br>
</div>
<div><button (click)="resetGame()">RESTART GAME</button></div>


<router-outlet />
