<div id="title">
<h1>Wifey Clicker {{display}} <br>Happy Wife Happy Life </h1>
<p id="score">Happiness Level: {{game_total | number: '1.2-2'}}</p>
</div>
<div id="left">
<button (click)="drink_coffee()">Drink Coffee (Happiness + {{game_coffee_increment | number: '1.2-2' }})</button>
<br>
<button (click)="button_nap()">
    Take a Nap (Happiness + {{game_nap_increment | number: '1.2-2'}} )</button>
<br>
<button (click)="button_bed()">
    Bed Day (Drink Coffee + )</button>
<br>
<button (click)="button_shopping()">
    Go Shopping (Drink Coffee + )</button>
<br> 
<button (click)="button_say_yes_day()">Wifey Say Yes Day 
    (Drink Coffee + )</button>
<br>
<button (click)="button_wedding_day()">Celebrate Wedding Day 
    (Drink Coffee + )</button>
<br>
<button (click)="reset()">Reset</button>
</div>

<div id="right">
<button (click)="coffee_up(game_coffee_upgrade_cost, game_coffee_upgrade_mult, game_coffee_upgrade_cost_mult)">
    New Starbucks Cups (Coffee X {{game_coffee_upgrade_mult | number: '1.2-2'}} | Cost: {{game_coffee_upgrade_cost | number: '1.2-2'}})</button>
<br>
<button (click)="nap_up()">
    Morning and Afternoon Nap (Nap Mulitpler X )</button>
<br>
<button (click)="bed_up()">
    Breakfast in bed (Bed Day Mulitpler X )</button>
<br>
<button (click)="shopping_up()">
    Target Circle Week (Shopping Mulitpler X )</button>
 <br>
 <button (click)="say_yes_day_up()">
    Target Circle Week (Say Yes Day Mulitpler X )</button>
 <br>
 <button (click)="wedding_day_up()">
    Target Circle Week (Wedding Day Mulitpler X )</button>
 <br>
 <button (click)="hearts()">
    SUPER SECRET BUTTON</button>
 <br>
</div>
<div><button (click)="resetGame()">RESTART GAME</button></div>


<router-outlet />
